@use "../utils/" as *;
.navigation {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    top: 0;
    padding-top: 3em;
    color: var(--White);
    font-size: 14px;
    img {
        object-fit: contain;
    }
    @include breakpoint(large) {
        justify-content: flex-start;
        gap: 4em;
        margin-inline: 3em;
    }
    .openMenu {
        position: absolute;
        left: 2em;
        @include breakpoint(large) {
            display: none;
        }
    }
    .nav-list {
        display: none;
        padding-right: 2em;
        position: absolute;
        justify-content: flex-end;
        align-items: center;
        gap: 2.5em;
        font-size: 14px;
        width: 100%;
        height: 7em;
        color: var(--Black);
        top: 0;
        font-weight: 700;
        background-color: var(--White);
        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            height: 100vh;
            width: 100vw;
            background-color: #000;
            top: 7em;
            left: 0;
            opacity: 50%;
            z-index: 12;
        }
        @include breakpoint(large) {
            display: flex;
            gap: 3em;
            background-color: transparent;
            color: var(--White);
            justify-content: flex-start;
            position: relative;
            height: auto;
            &::before {
                content: none;
            }
        }
        .closeMenu {
            left: 2.5em;
            position: absolute;
            transition: all 300ms ease-in;
            @include breakpoint(large) {
                display: none;
            }
        }
    }
    .activeMenu {
        display: flex;
    }
}