@use "../utils/" as *;
.slider__text {
    display: grid;
    position: relative;
    width: 100%;
    height: min(55vh, 35em);
    margin: 0;
    @include breakpoint('medium') {
        height: max(30vh, 30em);
    }
    .slidetext {
        display: grid;
        height: min(55vh, 35em);
        position: absolute;
        place-content: center;
        opacity: 0;
        padding: 12% 10%;
        @include breakpoint('medium') {
            height: max(30vh, 30em);
        }
        @include breakpoint('large') {
            padding: 15% 12%;
            height: 100%;
        }
    }
    .active {
        opacity: 1;
    }
    @include breakpoint(large) {
        place-content: center;
        padding-inline: 4vw;
        height: max(380px, 60vh);
    }
}